<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team - CLV Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app_styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('help') }}">Help</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('team') }}">Our Team</a></li>
            <li><a href="https://github.com/Lithikasraya/customer-life-time-service-project-.git" target="_blank">GitHub</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Meet Our Team</h1>
        <div class="team-member">
            
            <h2>Prakash</h2>
            <p>Email: prakashrepaka57@gmail.com</p>
            <p>Phone : 9182750780</p>
        </div>
        <div class="team-member">
            
            <h2>Lithika Sraya C</h2>
            <p>Email: lithikasrayac@gmail.com</p>
            <p>Phone:8122600858 </p>
        </div>
        <div class="team-member">
           
            <h2>Satyanarayana</h2>
            <p>Email:sg7905568@mail.com </p>
            <p>Phone: 9177547095</p>
        </div>
        <div class="team-member">
            
            <h2>Sruthi</h2>
            <p>Email:sruthikadali24@gmail.com</p>
            <p>Phone:9533957785</p>
        </div>
        <div class="team-member">
           
            <h2>VenkataRaju</h2>
            <p>Email:venkatarajujalligampala@gmail.com </p>
            <p>Phone:9392606206</p>
        </div>
    </div>
</body>
</html>
